# Localization & Keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

# Network
d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string kali-tmpl
d-i netcfg/get_domain string unassigned-domain

# Mirror Settings
d-i mirror/country string manual
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string

# Account Setup
d-i passwd/user-fullname string sysadmin
d-i passwd/username string sysadmin
d-i passwd/user-password-crypted password $6$gAz3aFy6hOguvcx/$/ll2siSThqUb6nzWrQ6rGap/kPGfpiRZ5wtIlPW7zxqgNlGQUh14KBfYfCpmEkAdt8i44ETrojsV1cTpFvdG4.

# Timezone
d-i clock-setup/utc boolean true
d-i time/zone string America/Chicago

# Partitioning
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Package Selection
tasksel tasksel/first multiselect standard, kali-desktop-xfce, kali-tools-top10
d-i pkgsel/include string openssh-server qemu-guest-agent sudo curl wget

# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string default

# Finalize
d-i finish-install/reboot_in_progress note

# Post-Install Script
d-i preseed/late_command string \
    in-target mkdir -p /home/sysadmin/.ssh; \
    in-target sh -c "echo '${ansible_public_key}' > /home/sysadmin/.ssh/authorized_keys"; \
    in-target chmod 700 /home/sysadmin/.ssh; \
    in-target chmod 600 /home/sysadmin/.ssh/authorized_keys; \
    in-target chown -R sysadmin:sysadmin /home/sysadmin/.ssh; \
    in-target sh -c "echo 'sysadmin ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/sysadmin"; \
    in-target chmod 440 /etc/sudoers.d/sysadmin; \
    in-target systemctl enable qemu-guest-agent; \
    in-target systemctl enable ssh;